@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Noto+Serif+KR:wght@400;600;700;900&display=swap");
html, body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #070707;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0;
}

h1 {
  font-family: Inter;
  color: #f9f9f9;
  font-size: 3.2rem;
  letter-spacing: -0.1rem;
  font-weight: 900;
}

h3 {
  font-family: Inter;
  color: #f9f9f9;
  font-size: 2.4rem;
  letter-spacing: -0.1rem;
  font-weight: 900;
}

h4 {
  color: #f9f9f9;
  font-size: 1.2rem;
  font-weight: 400;
}

h4 a {
  color: #f9f9f9;
}

.hidden {
  display: none;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[16];
      grid-template-columns: repeat(16, 1fr);
}

main .hero {
  color: #f9f9f9;
  -ms-grid-column: 1;
  -ms-grid-column-span: 16;
  grid-column: 1 / 17;
  text-align: center;
  padding: 1rem;
  margin: 0rem 0 3rem;
}

main .value-prop {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

main .value-prop .info-pill {
  white-space: nowrap;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.6rem;
  color: #BCD3F2;
  background: #171A21;
  border-radius: 0.2rem;
}

main .value-prop .info-pill a {
  color: #BCD3F2;
}

main .value-prop .info-pill:nth-of-type(even) {
  margin-left: 1rem;
  margin-right: 1rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

main .value-prop .nav-bar-button {
  -ms-grid-column: 1;
  grid-column: 1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.8rem 1.6rem;
  border-radius: 0.2rem;
  background: #171A21;
  margin: 0 auto;
}

main .date {
  color: #555;
  -ms-grid-column: 5;
  -ms-grid-column-span: 8;
  grid-column: 5 / 13;
  text-align: center;
  margin: 0 0 2rem;
}

main .summary {
  -ms-grid-column: 5;
  -ms-grid-column-span: 8;
  grid-column: 5 / 13;
  padding: 2rem;
  border-radius: 0.4rem;
  color: #BCD3F2;
  background: #070707;
  border: 2px solid #BCD3F2;
  margin: 0 0 4rem;
}

main .summary h5.pinned-icon {
  color: #ccc;
  font-weight: 400;
  margin: 0 0 1.5rem;
}

main .summary .headline {
  color: #f9f9f9;
  font-fize: 2.8rem;
  font-weight: 800;
}

main .summary h3 {
  font-family: 'Inter';
  font-weight: 700;
}

main .summary ul {
  padding: 0.6rem 1.2rem;
}

main .summary ul li {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 2rem;
  margin: 0;
}

main .summary ul a {
  color: #BCD3F2;
}

main .summary button {
  font-size: 1rem;
  color: #ccc;
  padding: 1rem 1rem;
  background: #2D3047;
  border-radius: 0.2rem;
  border: none;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

main .summary button:hover {
  cursor: pointer;
}

main .pagination {
  -ms-grid-column: 5;
  -ms-grid-column-span: 8;
  grid-column: 5 / 13;
  margin: 4rem auto 0;
}

footer {
  color: #BCD3F2;
  padding: 1rem 2rem;
  margin: 4rem 0 0;
}

footer a {
  color: #BCD3F2;
}

@media only screen and (max-width: 768px) {
  @-webkit-keyframes ticker {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }
    100% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }
  @keyframes ticker {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }
    100% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }
  main .hero {
    -ms-grid-column: 1;
    -ms-grid-column-span: 16;
    grid-column: 1 / 17;
  }
  main .hero .value-prop {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .hero .value-prop .info-pill {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    white-space: nowrap;
    margin: 1rem 0 0;
  }
  main .date {
    -ms-grid-column: 1;
    -ms-grid-column-span: 16;
    grid-column: 1 / 17;
    margin: 0 0 1rem;
  }
  main .summary {
    -ms-grid-column: 1;
    -ms-grid-column-span: 16;
    grid-column: 1 / 17;
    padding: 2rem 1.5rem 1.5rem;
    margin: 1rem 0.5rem 1.5rem;
  }
  main .pagination {
    -ms-grid-column: 1;
    -ms-grid-column-span: 16;
    grid-column: 1 / 17;
  }
  footer {
    padding: 1rem;
  }
}
/*# sourceMappingURL=globals.css.map */